<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATING DATA</title>
</head>
<body>
<form action="register" method="post">
 {% csrf_token %}
    <input type="text" name="username" placeholder="enter username"><br>
    <input type="text" name="first_name" placeholder="enter first name"><br>
    <input type="text" name="last_name" placeholder="enter last name "><br>
    <input type="email" name="email" placeholder="enter your mail-id"><br>
    <input type="password" name="password" placeholder="enter password"><br>
    <input type="password" name="password1" placeholder="re-enter your password"><br>
    <input type="submit" >
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>